
aside{
    width: 15%;
    margin-left: 2.5%;    
    float: left;
}

main{
    width: 80%;     
    margin-left: 18%    
}
section{
    border: 1px green solid;
    background-color: rgb(108, 235, 240);    
    border-radius: 5px;
    width:100%;
}